<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403</title>
</head>
<body>
    <header id="ops-header">
        {% include "header.html" %}
        <div id="showcase">
            <h1 id="page-title">Ops...</h1>
            <p>You're not supposed to be here. <a style="text-decoration: underline;" href="{{url_for('home')}}">Go Back.</a></p>
        </div>
    </header>
    {% include "footer.html" %}
</body>
</html>