<!-- footer -->
<footer id="footer">
      <h2>Want to work together? Feel free to say hello via <a href="mailto:antoniodainok@gmail.com">antoniodainok@gmail.com</a></h2>
      <div class="social-icons">
       <ul>
        <li><a href="https://www.linkedin.com/in/antonio-daino-b01ab61a3/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/Dainokode" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://github.com/Dainokode" target="_blank"><i class="fab fa-github-square"></i></a></li>
        <li><a href="https://www.instagram.com/become.a.developer/" target="_blank"><i class="fab fa-instagram"></i></a></li>
       </ul>
      </div>
      <small>&copy; ALL rights reserved - Antonio Daino {{year}}</small>
   </footer>